<main class="d-flex align-items-center min-vh-100  py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="no-gutters" style="padding: 2%;">
                <div class="center-parent">
                    <h3> <img class="icon" src="../../../assets//image/icon/org.png" /> Org Register</h3>
                </div>
                <aw-wizard [navBarLayout]="'large-filled-symbols'">
                    <aw-wizard-step stepTitle="Org Details" [canExit]=" stepExit.bind(this) ">

                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="User Deatails">

                    </aw-wizard-step>
                    <aw-wizard-step stepTitle="Confirmation">

                    </aw-wizard-step>
                </aw-wizard>
            </div>
        </div>
    </div>
</main>