$height: 75px;
.grid {
  display: inline-grid;
  grid-template-columns: $height 1fr;
  grid-template-rows: $height 1fr;
  grid-gap: 15px 25px;
  .indicator {
    background-color: #cc4b4b;
    border-radius: 25%;
    color: #fff;
    line-height: $height;
    text-align: center;
    font-size: 21px;
  }
  .title {
    line-height: $height;
    font-weight: bold;
    padding-right: 50px;
  }
  .moving-tab {
    position: relative;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #f44336;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 16px 26px -10px rgb(244 67 54 / 56%),
      0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(244 67 54 / 20%);
  }

  .content {
    margin-bottom: 10px;
  }

  .line {
    position: absolute;
    top: 0px;
    bottom: 5px;
    width: 1px;
    background-color: lightblue;
    box-sizing: border-box;
    left: 50%;
  }
  .check {
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    height: 25px;
    width: 12px;
    transform: rotate(45deg);
    display: inline-block;
    margin-top: 3px;
    margin-left: 1px;
  }
}
